---
import CodeIcon from '@components/icons/code-icon.astro';
import ExternalIcon from '@components/icons/external-icon.astro';
import GithubIcon from '@components/icons/github-icon.astro';
import { getI18n } from '@i18n/index';

const { currentLocale } = Astro;

const i18n = getI18n({ currentLocale });
const projects = i18n.PORTFOLIO_SECTION.PROJECTS;
---

<section id="portfolio">
  <span class="title">
    <CodeIcon />
    {i18n.PORTFOLIO_SECTION.TITLE}
  </span>

  <div class="projects">
    {
      projects.map((project) => (
        <div class="project">
          <a href={project.urlProduction} target="_blank" aria-label="project-preview">
            <picture>
              <img src={`/${project.image}`} alt="project-preview" loading="lazy">
            </picture>
          </a>
          <div class="description">
            <span class="title">{project.name}</span>
            <p class="body">{project.description}</p>
            <div class="technologies">
              {
                project.technologies.map((technology) => (
                  <img
                    src={`/images/${technology.image}`}
                    alt={`${technology.name} tool used in the project`}
                    loading="lazy">
                ))
              }
            </div>
            <div class="links">
              <a
                class="btn icon"
                target="_blank"
                href={project.urlGithub}
                aria-label="github-repository"
                >
                {i18n.PORTFOLIO_SECTION.BUTTONS.BTN_GITHUB} <GithubIcon width={26} height={26}/>
              </a>
              <a
                  class="btn icon"
                  target="_blank"
                  href={project.urlProduction}
                  aria-label="project-demo"
                >
                {i18n.PORTFOLIO_SECTION.BUTTONS.BTN_PRODUCTION}
                <ExternalIcon width={26} height={26} />
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>

  <div class="more">
    <a
      href="https://github.com/marcode24?tab=overview"
      target="_blank"
      class="btn"
      aria-label="more-projects"
      >
      {i18n.PORTFOLIO_SECTION.BUTTONS.BTN_MORE_PROJECTS}
    </a>
  </div>
</section>

<style>
  .more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 2rem 0;
  }

  .project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .project picture {
    border-radius: 1rem;
    overflow: hidden;
  }

  .project picture img {
    min-height: inherit;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    object-fit: cover;
    transition: 0.3s ease;
  }

  .description .technologies img {
    width: 100%;
    height: 2.1rem;
    object-fit: cover;
  }

  .project picture img:hover {
    transition: 0.3s ease;
  }

  .description {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.8rem;
    gap: 1.2rem;
  }

  .description .title {
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--font-color);
  }

  .description .body {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--font-color-2);
    text-wrap: pretty;
  }

  .description .technologies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  .description .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  .description .links .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    border-radius: 0.5rem;
    background-color: var(--bg-color-button-2);
    color: var(--bg-color);
    font-weight: 600;
    transition: all 0.3s ease;
    gap: 0.5rem;
  }

  @media (max-width: 768px) {
    .projects {
      grid-template-columns: 1fr;
    }

    .project {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.8rem;
    }

    .project picture {
      width: 100%;
      height: 100%;
      margin-bottom: 1rem;
      border-radius: 0.8rem;
    }

    .project picture img {
      transform: translate(0, 0);
    }

    .description {
      width: 100%;
      line-height: 1.6rem;
    }

    .description .title {
      font-size: 1.8rem;
    }

    .description .body {
      font-size: 1rem;
    }

    .description .technologies {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    .description .technologies img {
      height: 1.5rem;
    }

    .description .links {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }

</style>
