---
import projects from '@data/projects.json';
---

<section id="portfolio">
  <span class="title">My portfolio 💼</span>
  <div class="projects">
    {
      projects.map((project) => (
        <div class="item">
          <picture>
            <img src={project.image} alt="project-preview" loading="lazy">
          </picture>
          <div class="description">
            <span class="title">{project.name}</span>
            <div class="card">
              <p class="body">{project.description} </p>
            </div>
            <div class="technologies">
              {
                project.technologies.map((technology) => (
                  <span class="badge">#{technology}</span>
                ))
              }
            </div>
            <div class="links">
              <a href={project.urlGithub} target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-github"
                  width="40" height="40" viewBox="0 0 24 24"
                  stroke-width="2" stroke="currentColor"
                  fill="none" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0
                    -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6
                    0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5
                    1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5
                    -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0
                    4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                  </svg>
              </a>
              <a href={project.urlProduction} target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-external-link"
                  width="40" height="40" viewBox="0 0 24 24" stroke-width="2"
                  stroke="currentColor" fill="none" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
                  <path d="M11 13l9 -9" /><path d="M15 4h5v5" /></svg>
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>
  <div class="more">
    <a href="https://github.com/marcode24?tab=overview" target="_blank" class="btn">Show more...</a>
  </div>
</section>

<style>
  section#portfolio {
    position: relative;
    width: 100%;
  }

  .more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
  }

  .item {
    position: relative;
    height: 450px;
    z-index: 1;
  }

  .item picture {
    background: #436aa8;
    height: 100%;
    width: 60%;
    border-radius: 25px;
    position: absolute;
    transition: 0.4s ease;
    z-index: 1;
  }

  .item:nth-child(2n + 2) picture {
    right: 0;
  }

  .item picture:hover {
    background-color: transparent;
  }

  .item picture img {
    mix-blend-mode: multiply;
    filter: grayscale(100%);
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  .item picture:hover img {
    mix-blend-mode: normal;
    filter: none;
    cursor: pointer;
  }

  .item .description {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    text-align: right;
    height: 100%;
  }

  .item:nth-child(2n + 2) .description {
    left: 0;
    text-align: left;
    max-width: 60%;
    align-items: flex-start;
  }

  .item .description .title {
    font-size: 42px;
    font-weight: bold;
    color: var(--primary-color);
    z-index: 1;
  }

  .card {
    border: 1px solid var(--border-color-nav);
    z-index: 2;
    background-color: var(--bg-color-button);
    min-height: 130px;
    min-width: 600px;
    max-width: 600px;
    padding: 1rem;
    display: flex;
    border-radius: 12px;
    align-items: center;
    justify-content: flex-end;
  }

  .card .body {
    font-size: 20px;
    font-weight: 500;
  }

  .description .technologies,
  .description .links {
    display: flex;
    gap: 10px;
    z-index: 1;
    flex-wrap: wrap;
  }

  .item:nth-child(2n + 2) .description .technologies,
  .item:nth-child(2n + 2) .description .links {
    justify-content: flex-start;
  }

  .badge {
    font-size: 13px;
    border-radius: 1rem;
    padding: 5px 8px;
    color: #fff;
    font-weight: normal;
    background-color: var(--bg-color-badge);
  }

  .badge:hover {
    cursor: default;
  }

  .links a {
    font-size: 2rem;
    text-decoration: none;
    color: var(--secondary-color);
    transition: 0.4s ease;
  }

  .links a:visited {
    color: var(--secondary-color);
  }

  .links a:hover {
    cursor: pointer;
    color: var(--primary-color);
  }

  @media (max-width: 768px) {
    .projects {
      gap: 1.5rem;
    }
    .card {
      background-color: transparent;
      padding: 1rem 0;
      min-width: auto;
      min-height: auto;
      border: none;
    }

    .card .body {
      color: var(--third-color);
    }

    .item {
      height: 400px;
    }

    .item picture {
      height: 400px;
      width: 100%;
    }

    .item .description {
      align-items: flex-start;
      text-align: start;
      z-index: 1;
      left: 0;
      min-height: 400px;
      padding: 1rem;
    }

    .item:nth-child(2n + 2) .description {
      max-width: 100%;
    }

    .item .description .title,
    .item .description .body {
      color: var(--third-color);
      text-shadow: var(--text-shadow-color) 2px 0px 0px,
        var(--text-shadow-color) 1.75517px 0.958851px 0px,
        var(--text-shadow-color) 1.0806px 1.68294px 0px,
        var(--text-shadow-color) 0.141474px 1.99499px 0px,
        var(--text-shadow-color) -0.832294px 1.81859px 0px,
        var(--text-shadow-color) -1.60229px 1.19694px 0px,
        var(--text-shadow-color) -1.97998px 0.28224px 0px,
        var(--text-shadow-color) -1.87291px -0.701566px 0px,
        var(--text-shadow-color) -1.30729px -1.5136px 0px,
        var(--text-shadow-color) -0.421592px -1.95506px 0px,
        var(--text-shadow-color) 0.567324px -1.91785px 0px,
        var(--text-shadow-color) 1.41734px -1.41108px 0px,
        var(--text-shadow-color) 1.92034px -0.558831px 0px;
    }

    .description .links {
      color: #e7e9ea;
    }
  }

  @media (max-width: 480px) {
    .card {
      padding: 0;
    }
    .item,
    .item picture {
      height: 350px;
    }

    .item .description {
      min-height: 350px;
    }

    .item .description .title {
      font-size: 30;
    }

    .card .body {
      font-size: 17px;
    }
  }
</style>
